// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Varela+Round&display=swap');

// Define fonts for body and headers
$body-font: "Varela Round", "Arial", "sans-serif";
$headers-font: "Merriweather Sans
", "Varela Round", "Playfair Display";
