.btn {
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  color: white;
}

.btn-primary {
  background-color: blue;
}

.btn-secondary {
  background-color: gray;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4p;
  background: #6a757e;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #6a757e;
  transition: background 0.3s ease;
}
