.navbar-lewagon {
  background: white;
  padding: 16px 24px;
  border-bottom: 1px solid;


  strong {
    font-size: 28px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
